.app {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background);
}

.wordBlocks {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
}
